.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* ligne principale */
.match-row {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

/* bloc profil + bouton */
.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* carte profil */
.profile {
    min-width: 220px;
    min-height: 300px;
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-perso {
    width: 220px;
}

/* centre */
.center {
    font-size: 40px;
}

/* bouton random */
.random-btn {
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: 2px solid;
    transition: all 0.3s ease;
}

.random-left {
    color: #4fc3f7cc;
    border-color: #4fc3f7aa;
    box-shadow: 0 0 4px #4fc3f766;
}

.random-left:hover {
    background: #4fc3f7;
    color: black;
    box-shadow: 0 0 9px #4fc3f7aa;
}

.random-right {
    color: #ff4d4dcc;
    border-color: #ff4d4daa;
    box-shadow: 0 0 4px #ff4d4d66;
}

.random-right:hover {
    background: #ff4d4d;
    color: black;
    box-shadow: 0 0 9px #ff4d4daa;
}

.random-btn:active {
    transform: scale(0.9);
}

/* bouton MATCH */
.match-btn {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;

    background: linear-gradient(90deg, #00aaff, #ff2d2d);
    box-shadow: 0 0 10px #00aaff, 0 0 20px #ff2d2d;
    transition: 0.3s;
}

.match-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00aaff, 0 0 40px #ff2d2d;
}