nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 30px;

	.nav-title {
		margin: 0;
        color: #ffe9ee;
		font-family: "Star Wars", sans-serif;
		font-size: 60px;
		line-height: 1.25;
		-webkit-text-stroke: 1.6px #ff0037;
		text-shadow:
			0 0 6px rgba(255, 0, 55, 0.95),
			0 0 14px rgba(255, 0, 55, 0.8),
			0 0 28px rgba(255, 0, 55, 0.6);
	}

	.nav-title-clickable {
		cursor: pointer;
		color: #ffe9ee;
		font-family: "Star Wars", sans-serif;
		font-size: 60px;
		line-height: 1.25;
		-webkit-text-stroke: 1.6px #ff0037;
		text-shadow:
			0 0 6px rgba(255, 0, 55, 0.95),
			0 0 14px rgba(255, 0, 55, 0.8),
			0 0 28px rgba(255, 0, 55, 0.6);
	}

	.forTheScale {
		transform: scaleX(-1);
	}

	img {
		width: 7rem;
		height: auto;

		&:hover {
			animation: rotateChicken 1s ease-in-out infinite;
		}
	}
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	min-height: 15rem;
	background: url("../assets/PadmeAnakin.png") center;
	background-size: cover;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	.forTheScale {
		transform: scaleX(-1);
	}

	img {
		width: 3rem;
		height: auto;

		&:hover {
			animation: rotateChicken 1s ease-in-out infinite;
		}
	}
}

@keyframes rotateChicken {
	0% {
		transform: rotate(8deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(4deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(8deg);
	}
}
